* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.button {
  color: white;
  background-color: #009875;
  padding: 10px;
  border-radius: 2px;
  margin-left: 132px;
}

#newbook {
  margin-bottom: 20px;
  margin-left: 0px;
}

table {
  margin-top: 20px;
}

.title {
  color: #009875;
}

td {
  padding: 7px;
}

tr:nth-child(odd) {
  background-color: #e7e7e7;
}

th {
  background-color: white;
  font-weight: 600;
  text-align: left;
  border-bottom: 1.5px solid goldenrod;
  padding-left: 7px;
  padding-bottom: 3px;
}

form p {
  display: flex;
  flex-direction: row;
  max-width: 400px;
}

label {
  width: auto;
  flex-basis: 33%;
  font-weight: 600;
}

input[type=text] {
  width: auto;
  flex-basis: 66%;
}